.hero-image {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.692) 0%,
      rgba(0, 0, 0, 0.692) 100%
    )
    url(../assets/images/home2-hero2.png) lightgray 50% / cover no-repeat;
}
