.hero-wrapper {
  position: relative;
  width: 100%;
}

.hero-image {
  width: 100%;
  display: block;
}

/* gradient overlay */
.hero-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.616) 0%,
    rgba(0, 0, 0, 0.616) 100%
  );
  border-radius: 6px;
}
